.ItemDetailText {
    font-size: 20px;
}

.DetailTitle {
    padding-top: 16px;
    padding-bottom: 24px;
    text-align: center;
    color: rgb(105, 6, 124);
}

.DetailBlock {
    padding-bottom: 20px;
    padding-right: 10px;
}

.DetailText {
    text-align: justify;
}

.DetailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DetailPrice {
    color: rgb(105, 6, 124); 
    font-size: 20px;
}

.detailButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.detailButton{
    margin-right: 40px;
    margin-bottom: 40px;
}